<nav class="navbar navbar-expand-sm navbar-light">
  <a class="navbar-brand" href="/">OiMee</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <div class="navbar-nav mr-auto">
      <%= link_to("Home", '#') %>
    </div>
    <div class="navbar-nav">
      <%= link_to("Login", '#', class: "nav-link nav-item") %>
    </div>
  </div>
</nav>
